/*-- scss:defaults --*/

// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sen:wght@400..800&display=swap');

// Colors
$dark-green: #858E79;
$light-green: #D1D9CE;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;
$light-gray: lightgray;
$black: black;
//$blue: dodgerblue;

// Base document colors
// $navbar-bg: $light-gray; // navbar
// $navbar-fg: black; // navbar foreground elements
$navbar-hl: dodgerblue; // highlight color when hovering over navbar links
// $body-bg: $light-green; // page background 
// $body-color: $gray; // page text 
// $footer-bg: $cream; // footer 
$link-color: dodgerblue; // hyperlinks 

// Inline code
// $code-bg: $cream; // inline code background color
// $code-color: $purple; // inline code text color

/*-- scss:rules --*/

// style headshot on landing page
.about-image {
  display: block;
  object-fit: cover;
  margin-top:2em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 50%;
}

// Adjust "Brian M. Brost" on landing page
.title {
  text-align:center;
  font-weight: 500;
}

// landing page icon size
.landing-icons {
  font-size: 1.5em;
  color: black; 
  text-align: center;
  align-content: center;
  justify-content: center;
}


// landing page headline characteristics
.headline {
  font-size: 1.1em;
  font-weight: 200;
  color: gray;
  text-align: center;
}

h1 {
  font-weight: 500;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

// create a reduced width container
.container-about {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  display: block;
  position: relative;
  align-items: center;
  text-align: justify;
  justify-content: center;
}

// resize logo in navigation bar
.navbar-brand img {
  max-height: 50px;
  width: auto;
}

a {
  text-decoration: none;
}

// change color and decoration of active link in navigation bar
.navbar-nav .nav-link.active{
  text-decoration: underline;
  // text-decoration-color: black;
  color: dodgerblue;
}

// customize footer
.footer-main {
    border-top: 1px solid lightgray;
    padding: 40px 0;
    margin: 40px 0 0;
    font-size: 0.85em;
    color: lightgray;
    font-weight: 400;
    text-align: center;
    position: relative;
}

// add 'circle' decoration to footer border
.footer-main::before {
  display: block;
  content: " ";
  width: 7px;
  height: 7px;
  border: lightgray 1px solid;
  position: absolute;
  top: -5px;
  left: 50%;
  margin-left: -5px;
  background: #FFF;
  box-shadow: #FFF 0 0 0 5px;
  border-radius: 3px;
}

